canvas {
  background-color: white;
  display: absolute;
}

body {
  padding: 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body button {
  font-size: 30px;
  background-color: #ffbf00;
  color: #fff;
  padding: 10px 30px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin: 10px 0;
}

body form {
  width: 140px;
  font-size: 30px;
  background-color: #ffbf00;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin: 10px 0;
  display: flex;
}

.game-intro h1 {
  text-shadow: 9px 6px 8px #ffbf00;
  font-size: 30px;
  padding-top:20px;
  color: black;
  font-family: "Arial"
}

.game-intro {
  width: 500px;
  float: left;
  padding: 0% 10%;
  height: 800px;
}

.game-intro p {
  font-size: 20px;
  font-family: "Verdana"
}



.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

#game-board {
  float: left;
  padding: 20px 0px;
  position: relative;
}

.game-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.hide {
  display: none;
}

.jb{
  filter: drop-shadow(10px 0px 15px rgba(0,0,0,.7));
}

input {
  font: inherit;
  background: none;
  border: 0;
  color: white;
  border-bottom: 2px solid white;
}

.game-over{
  top:100px;
  position: absolute;
  display:none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}